@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
* {
    /* font-family: "Montserrat",Arial,Helvetica,sans-serif; */
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3494e4;
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}

.bar{
    position: absolute;
    top: 0px;
    left: 0px;
}

.to_left{
    animation: to_left 1s ease forwards !important;
}

@keyframes to_right {
    from {
        left: -30vw;
    }
    to{
        left: 0;
    }
}

@keyframes to_left {
        from {
            left: 0vw;
        }
        to{
            left: -40vw;
        }
}

.bar .fa.fa-bars, .bar .fa.fa-times{
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 40px;
    cursor: pointer;
    z-index: 20;
}

.bar ul li a:hover, .bar ul li a.select{
    color: #fad182;
    border-bottom: 3px solid #fff;
    transition: 0.2s ease;
}

.bar ul.box__bar{
    width: 30vw;
    background-color: #04aa6d;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 2;
    position: fixed;
    animation: to_right 1s ease forwards;
}

.bar .black__layer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.bar ul.box__bar li{
    padding: 20px 0;
    list-style: none;
    font-size: 25px;
    color: #fff;
}

#err{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#err .err__info{
    display: flex;
    position: absolute;
    background-color: #fff;
    padding: 25px 50px;
    color: #ffc107;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 4px 8px #62b0fd, 0 4px 12px rgb(0 0 0 / 8%);
}

.err__info .fa{
    color: #ff4242;
    font-size: 80px;
}

#err .err__info .err__name{
    color: #ff4242;
    font-size: 20px;
    font-weight: bold;
}

#err .err__info .err__detail{
    color: #000;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}


.container{
    width: 1300px;
}

.input__group{
    display: flex;
    flex-direction: column;
}

#btn__result, .btn__submit{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    outline: none;
}

button, #btn__result{
    min-width: 120px;
    padding: 10px 10px;
    background: #28a745;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
}
.btn-danger{
    color: #fff;
    background-color: #d74646;
    margin-top: 10px;
}

#btn__result{
    margin-top: 20px;
}

#btn__result:hover, .btn__submit:hover{
    background-color: #007bff;
    transition: 0.4s;
}

input{
    border: 1px solid #fff;
    outline: none;
    padding: 8px 5px;
    font-size: 15px;
    background-color: #3494e4;
    color: #fff;
}

.process__info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.process__name{
    color: #ffc107;
}

.table__data__1{
    border: 1px solid yellow;
    display: inline-block;
    margin-top: 50px;
    display: none;
}
#data__name__1 span, #data__time__1 span, #average__time__1 span{
    display: inline-block;
    width: 40px;
    padding: 5px;
    text-align: center;
}

#data__name__1 span.data__title, #data__time__1 span.data__title, #average__time__1 span.data__title{
    width: 240px;
}

.checkbox{
    margin-top: 20px;
    border: 1px solid #fff;
    padding: 10px;
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input.dq{
    margin-top: 4px;
}

@media screen and (max-width:800px) {
    .container{
        width: 90vw;
        padding: 10px;
        margin-top: 40px;
    }
    #input__process__count{
        width: 90px;
    }
    .btn__submit{
        min-width: 80px;
    }
    .process__info{
        flex-direction: column;
        align-items: unset;
    }
    input[type="number"] {
        width: 180px;
    }
    label{
        margin: 10px 0px;
    }
    .checkbox{
        flex-direction: column;
        max-width: 100vw;
    }
    .checkbox p:first-child{
        margin-bottom: 0px;
    }
    #err .err__info {
        padding: 10px;
        margin: 10px;

    }
    #data__name__1 span.data__title, #data__time__1 span.data__title, #average__time__1 span.data__title {
        width: 100%;
        text-align: left;
    }
    #data__name__1 span, #data__time__1 span, #average__time__1 span {
        padding: 5px 5px;
        width: 15px;
    }
    .table__data__1 {
        padding: 0px 5px;
    }
    .bar ul.box__bar {
        width: 100vw;
    }
    .bar ul.box__bar li {
        font-size: 20px;
    }
    @keyframes to_right {
        from {
            left: -100vw;
        }
        to{
            left: 0;
        }
    }
    @keyframes to_left {
        from {
            left: 0vw;
        }
        to{
            left: -100vw;
        }
    }
}
